<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head'); %>
  </head>

  <body class="star-list">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <a class="navbar-brand" href="/">Strona główna</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/constelation">Konstelacje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/star">Gwiazdy</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="table table-hover star-table">
      <h1>Lista Gwiazd</h1>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Nazwa Gwiadzy</th>
              <th>Opis Gwiazdy</th>
              <th>Edytuj</th>
              <th>Usuń</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((star) => { %>
            <tr>
              <td><%= star.name_star %></td>
              <td><%= star.description_star %></td>
              <td>
                <a href="/star/edit/?id=<%= star.id_star %>"
                  ><button class="edit" hr>Edytuj</button>
                </a>
              </td>
              <td>
                <form action="/star/remove" method="POST">
                  <input
                    type="hidden"
                    name="id"
                    placeholder="Nazwa Gwiazdy"
                    value="<%= star.id_star %>"
                  />
                  <input type="submit" class="remove" value="Usuń" />
                </form>
                <!-- <a href="/star/remove/?id=<%= star.id_star %>"
                  ><button class="remove" hr>Usuń</button>
                </a> -->
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="add-buton">
        <p><a href="/star/add">+</a></p>
      </div>
    </section>
  </body>
</html>
