<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head'); %>
  </head>
  <body class="addStar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <a class="navbar-brand" href="/">Strona główna</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/constelation">Konstelacje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/star">Gwiazdy</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="wrapper">
      <a href="/star">Wróć</a>
      <form action="/star/edit" method="POST">
        <div class="d-flex p-2 justify-content-between align-items-center">
          <img
            src="<%= data.star.image %>"
            class="img-circle"
            alt="Zdjęcie gwaizdy"
            width="200"
          />
          <h1>Edytuj gwiazdę</h1>
          <% if (data.star.to_show) { %>
          <input type="checkbox" name="to_show" data-val="true" checked />
          <% } else { %>
          <input type="checkbox" name="to_show" data-val="true" /> <% } %>
        </div>
        <input
          type="hidden"
          name="id"
          placeholder="Nazwa Gwiazdy"
          value="<%= data.star.id %>"
        />
        <label><%= data.star.labels()['name'] %></label>
        <input
          type="text"
          name="name"
          placeholder="Nazwa Gwiazdy"
          value="<%= data.star.name %>"
        />
        <br />
        <% if (locals.error) { %> <% if (error['name']) { %>
        <p class="error-message"><%= error['name'][0] %></p>
        <% } %> <% } %>
        <label><%= data.star.labels()['description'] %></label>
        <textarea
          placeholder="<%= data.star.labels()['description'] %>"
          name="description"
        >
<%= data.star.description %></textarea
        ><br />
        <% if (locals.error) { %> <% if (error['description']) { %>
        <p class="error-message"><%= error['description'][0] %></p>
        <% } %> <% } %>
        <label>Przypisz gwiazdę do konstalecji </label>
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          multiple="multiple"
          name="constelations"
        >
          <% data.constelations.forEach((constelation) => { %> <% if
          (data.star.constelations.includes(constelation.id)) { %>
          <option value="<%= constelation.id %>" selected>
            <%= constelation.name %>
          </option>
          <% } else { %>
          <option value="<%= constelation.id %>">
            <%= constelation.name %>
          </option>
          <% } %> <% }) %>
        </select>
        <input type="submit" name="submit" value="Zapisz" class="edit" />
        <input type="submit" name="delete" value="Usuń" class="remove" />
      </form>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
