<!DOCTYPE html>
<html lang="pl">
  <head>
    <%- include('../views/head'); %>
  </head>

  <body class="star-list">
    <%- include('../views/nav'); %>

    <section
      class="table table-hover d-flex flex-column align-items-center h-100"
    >
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="mx-4">Lista Gwiazd</h1>
        <div class="add-buton">
          <p><a href="/star/add">+</a></p>
        </div>
      </div>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Zdjęcie</th>
              <th>Nazwa Gwiadzy</th>
              <th>Opis Gwiazdy</th>
              <th>Edytuj</th>
              <th>Usuń</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((star) => { %>
            <tr>
              <td>
                <img
                  src="<%= star.image_star %>"
                  class="img-circle m-2"
                  alt="Zdjęcie gwaizdy"
                  height="100"
                />
              </td>
              <td><%= star.name_star %></td>
              <td><%= star.description_star %></td>
              <td>
                <a href="/star/edit/?id=<%= star.id_star %>"
                  ><button class="edit" hr>Edytuj</button>
                </a>
              </td>
              <td>
                <form action="/star/remove" method="POST">
                  <input
                    type="hidden"
                    name="id"
                    placeholder="Nazwa Gwiazdy"
                    value="<%= star.id_star %>"
                  />
                  <input type="submit" class="remove" value="Usuń" />
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
